{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="pageTitle">Inscription</h1>
    <div class="formDiv"> 
        {{ form_start(form)}}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Inscription</button>
        {{ form_end(form)}}    
    </div>
    
{% endblock %}